html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  background-color: rgb(135, 222, 209);
}

a {
  color: rgb(106, 139, 236);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

header {
  float: left;
  margin: 0 50 50 0;
  position: relative;
  z-index: 2;
}